@charset "utf-8";
/* CSS Document */

html, body {
	height: 100%;
	width: 100%;
	/*font-size: 2.4;*/
}

/* header*/
.top {
  position: static;
	background: black;
	width: 100%;
	min-width: 50%;
	height: 5%;
	padding-left: 2%;
	line-height: 2.1;
	font-size: 110%;
}

.title {
	text-align: left;
	font-family: 'Michroma', sans-serif;
	font-weight: normal;
	font-style: normal;
	color: white;
	display: flex;
}

.arrow {
	padding-left: 1%;
}
.subtitle {
	padding-left: 1%;
}
/* content */
.ui-page-grid {
	position: static;
	height: 90%;
	width: 100%;
}

.column {
  position: fixed;
  bottom: 50px;
  right: 120px;
  width: 200px;
}
