@charset "utf-8";
/* CSS Document */

html, body {
	height: 100%;
	width: 100%;
}

/* header*/
.top {
  position: static;
	background: black;
	width: 100%;
	min-width: 50%;
	height: 5%;
	padding-left: 100px;
	line-height: 2.1;
}

.title {
	font-family: 'Michroma', sans-serif;
	font-weight: normal;
	font-style: normal;
  font-size: 70px;
	color: white;
 	vertical-align: middle;
	display: flex;
}

.arrow {
	padding-left: 50px;
}
.subtitle {
	padding-left: 50px;
}
/* content */
.ui-page-grid {
	position: static;
	height: 90%;
	width: 100%;
}

.column {
  position: fixed;
  bottom: 50px;
  right: 120px;
  width: 200px;
}
